@*
Padariau atskira directory, nes planuoja but bent keli komponentai...
jei viskas i viena kruva eis... nu patys suprantam
PS. "@using blablabla" galima i _Imports.razor det, tuomet visiem puslapiam galios
*@

@page "/roulette"
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<PageTitle>Roulette</PageTitle>
<h3>Roulette</h3>

@if (!IsConnected)
{
    <div class="input-group">
        <input @bind="username" class="form-control" placeholder="What's your name?">
        <button class="btn btn-primary form-control-append" @onclick="Connect">
            Connect
        </button>
    </div>
}
else
{
    <p>Number of players: @playerCount</p>
    <p>Number of bets placed: @betsPlacedCound</p>
    <br />
    <h3>Rolled number: @Wheel.WheelNumbers[RolledNumberIndex].Number @Wheel.WheelNumbers[RolledNumberIndex].Colour</h3>
    <br />
    if (!betPlaced)
    {
        <div>
            <input @bind="BetAmmount" type="number" aria-label="Bet Ammount:" />
            <button class="btn btn-primary" @onclick="PlaceABetRed">Bet Red</button>
            <button class="btn btn-primary" @onclick="PlaceABetBlack">Bet Black</button>
        </div>
    }
    <br />
    <br />
    <h4>Your total chips value: @Keeper.Chips</h4>

    <p>Your chips:</p>

    <ChipsList ChipAmmounts="@NewKeeper.Chips" />

    <p>Message log:</p>
    <ul id="messagesList">
        @foreach (var message in messages)
        {
            <li>@message</li>
        }
    </ul>
}

@code {
    private HubConnection? hubConnection;
    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    Wheel Wheel = new Wheel();
    private string username = string.Empty;
    private int playerCount = 0;
    private int betsPlacedCound = 0;
    private int RolledNumberIndex = 0;
    private bool betPlaced = false;
    int BetAmmount = 1;
    //private int[] ChipAmmounts { get; set; } = { -1, -1, -1, -1, -1, -1 };
    private List<string> messages = new List<string>();

    static ChipsKeeper Keeper = new ChipsKeeper();
    static IChipsConverter Adapter = new ChipsAdapter(Keeper);
    NewChipsKeeper NewKeeper = new NewChipsKeeper(Adapter.GetChips());
    //await LocalStorage.SetItemAsync("token", token);  //local storage example
    //await LocalStorage.RemoveItemAsync("token");  //galima ir asString, pasigooglinsit jei reiks

    private async Task Connect()
    {
        hubConnection = new HubConnectionBuilder()
            //jei nenorim nieko perduot tinka tiesiog kreiptis i hub'o endpoint'a
            //.WithUrl(NavigationManager.ToAbsoluteUri("/roulettehub"))
            //to pass smth query strings can be used
            .WithUrl(NavigationManager.ToAbsoluteUri($"/roulettehub?username={username}"))
            .Build();

        hubConnection.On<string>("GetMessage", (message) =>
        {
            var msg = message;
            if (messages.Count < 5)
            {
                messages.Add(msg);
            }
            else
            {
                messages.RemoveAt(0);
                messages.Add(msg);
            }
            //jei puslapyje kazkas kito, reiketu StateHasChanged() iskviest
            StateHasChanged();
        });

        hubConnection.On<int>("GetPlayerCount", (count) =>
        {
            playerCount = count;
            StateHasChanged();
        });

        hubConnection.On<int>("GetBetsPlacedCount", (count) =>
        {
            betsPlacedCound = count;
            StateHasChanged();
        });

        hubConnection.On<int>("GetRolledNumberIndex", (rolledNumberIndex) =>
        {
            RolledNumberIndex = rolledNumberIndex;
            betPlaced = false;
            StateHasChanged();
        });

        hubConnection.On<int>("GetWinnings", (winnings) =>
        {

            Keeper.AddChips(winnings);
            StateHasChanged();
        });


        //by default reikia, ne savo isgalvota
        await hubConnection.StartAsync();
    }

    private async Task PlaceABetRed()
    {
        if (hubConnection != null)
        {
            await hubConnection.SendAsync("PlaceABetRed", BetAmmount);
            betPlaced = true;
            Keeper.RemoveChips(BetAmmount);
            NewKeeper.Chips = Adapter.GetChips();
        }
    }
    private async Task PlaceABetBlack()
    {
        if (hubConnection != null)
        {
            await hubConnection.SendAsync("PlaceABetBlack", BetAmmount);
            betPlaced = true;
            Keeper.RemoveChips(BetAmmount);
            NewKeeper.Chips = Adapter.GetChips();
        }
    }

    //copy pasta default dispose...
    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}