@page "/slots"
@using Microsoft.AspNetCore.SignalR.Client
@using OPP_Projektas.Shared.Models.Enums.Slots
@using OPP_Projektas.Shared.Models.Slots
@using OPP_Projektas.Shared.Models.Slots.SlotSymbols
@using OPP_Projektas.Shared.Models.Slots.SlotSymbols.Rollers
@using OPP_Projektas.Shared.Models.Styles
@inject NavigationManager NavigationManager

<PageTitle>Slots</PageTitle>

<div style="display:flex">
<div>
<h1>Slots</h1>



<input @bind="Name" />

<p role="status">Balance: @Balance</p>
<p role="status">@Message</p>

<div style="display: flex">
    <table style="@SlotsMachineStyle.RenderBorder()">
        <tr>
            <td style="@SlotsMachineStyle.RenderBorder()">
                <div style="@Results[0].Render()"></div></td>
            <td style="@SlotsMachineStyle.RenderBorder()">
                <div style="@Results[1].Render()"></div></td>
            <td style="@SlotsMachineStyle.RenderBorder()">
                <div style="@Results[2].Render()"></div></td>
        </tr>
    </table>
</div>
</div>
    <div style="margin: 50px">
        <h2>REWARDS:</h2>
        @if (!IsPictureSymbols)
        {
            <div style="display: flex;">
                <div style="background-color: #0000FF; width: 30px; height: 30px; margin: 10px;"></div>
                <p style="margin-top: 12px"> @GetSlotPayout(SymbolTier.First, SlotType)</p>
            </div>
            <div style="display: flex;">
                <div style="background-color: #FF0000; width: 30px; height: 30px; margin: 10px;"></div>
                <p style="margin-top: 12px"> @GetSlotPayout(SymbolTier.Second, SlotType)</p>
            </div>
            <div style="display: flex;">
                <div style="background-color: #00FF00; width: 30px; height: 30px; margin: 10px;"></div>
                <p style="margin-top: 12px"> @GetSlotPayout(SymbolTier.Third, SlotType)</p>
            </div>
            <div style="display: flex;">
                <div style="background-color: #FFFF00; width: 30px; height: 30px; margin: 10px;"></div>
                <p style="margin-top: 12px"> @GetSlotPayout(SymbolTier.Fourth, SlotType)</p>
            </div>
            <div style="display: flex;">
                <div style="background-color: #FFA500; width: 30px; height: 30px; margin: 10px;"></div>
                <p style="margin-top: 12px"> @GetSlotPayout(SymbolTier.Fifth, SlotType)</p>
            </div>
        }
        else
        {
            <div style="display: flex;">
                <div style="background-color: #fff; background-image: url('assets/1-first.svg'); width: 30px; height: 30px; margin: 10px;"></div>
                <p style="margin-top: 12px"> @GetSlotPayout(SymbolTier.First, SlotType)</p>
            </div>
            <div style="display: flex;">
                <div style="background-color: #fff; background-image: url('assets/2-second.svg'); width: 30px; height: 30px; margin: 10px;"></div>
                <p style="margin-top: 12px"> @GetSlotPayout(SymbolTier.Second, SlotType)</p>
            </div>
            <div style="display: flex;">
                <div style="background-color: #fff; background-image: url('assets/3-third.svg'); width: 30px; height: 30px; margin: 10px;"></div>
                <p style="margin-top: 12px"> @GetSlotPayout(SymbolTier.Third, SlotType)</p>
            </div>
            <div style="display: flex;">
                <div style="background-color: #fff; background-image: url('assets/4-fourth.svg'); width: 30px; height: 30px; margin: 10px;"></div>
                <p style="margin-top: 12px"> @GetSlotPayout(SymbolTier.Fourth, SlotType)</p>
            </div>
            <div style="display: flex;">
                <div style="background-color: #fff; background-image: url('assets/5-fifth.svg'); width: 30px; height: 30px; margin: 10px;"></div>
                <p style="margin-top: 12px"> @GetSlotPayout(SymbolTier.Fifth, SlotType)</p>
            </div>
        }
    </div>
    <div style="margin: 50px; display: flex; flex-direction: column">
        <button class="btn btn-info" style="margin: 5px;" @onclick="() => ChangeSlotType(SlotType.Simple)">Play Simple slots</button>
        <button class="btn btn-info" style="margin: 5px;" @onclick="() => ChangeSlotType(SlotType.Coinflip)">Play Coinflip slots</button>
        <button class="btn btn-info" style="margin: 5px;" @onclick="() => ChangeSlotType(SlotType.WinLose)">Play Win / Lose slots</button>
        <button class="btn btn-info" style="margin: 5px;" @onclick="() => ChangeSlotType(SlotType.Jackpot)">Play Jackpot slots</button>
    </div>
</div>

<input @bind="BetSize" type="number" />
<button class="btn btn-primary" @onclick="Play">Click me</button>
<button class="btn btn-secondary" @onclick="UseAlternativeSymbols">Use alternative symbols</button>
<button class="btn btn-info" @onclick="ChangeSlotsStyle">Changed slots style</button>


<ul style="width: 300px">
    @foreach (var message in Messages)
    {
        <li>@message</li>
    }
</ul>
@code {
    private HubConnection? hubConnection;
    private int Balance = 500;
    private IStyle _style = new DefaultStyle();

    public int BetSize { get; set; } = 1;
    public string Message { get; set; }
    public string Name { get; set; } = "Guest";
    public bool IsPictureSymbols { get; set; } = false;
    public List<string> Messages { get; set; } = new List<string>();
    public List<ISlotSymbol> Results { get; set; } = new List<ISlotSymbol> {};
    public ISlotsMachineStyle SlotsMachineStyle { get; set; }
    public SlotType SlotType { get; set; } = SlotType.Simple;

    protected override async Task OnInitializedAsync()
    {
        SlotsMachineStyle = _style.CreateSlotsMachineStyle();
        
        SlotRoller roller = new ColorSlotRoller();
        Results.Add(roller.CreateSymbol(SymbolTier.Fifth));
        Results.Add(roller.CreateSymbol(SymbolTier.Fifth));
        Results.Add(roller.CreateSymbol(SymbolTier.Fifth));

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/slotshub")).WithAutomaticReconnect()
            .Build();

        hubConnection.On("Test", () => { Console.WriteLine("Test"); });

        hubConnection.On<SlotsResult>("Something", async (result) =>
        {
            Console.WriteLine("Tester2");
            SlotRoller fakeResultRoller;
            fakeResultRoller = IsPictureSymbols ? new PictureSlotRoller() : new ColorSlotRoller();
            List<ISlotSymbol> resultingSymbols = new List<ISlotSymbol> { fakeResultRoller.CreateSymbol(result.SlotSymbols[0]), fakeResultRoller.CreateSymbol(result.SlotSymbols[1]), fakeResultRoller.CreateSymbol(result.SlotSymbols[2]) };
            Random rand = new Random();
            for(int i = 0;i<3;i++){
                int switchingAmount = 30;
                if(i>0){
                    switchingAmount /= 2;
                }
                for (int j = 0; j < switchingAmount; j++)
                {
                    switch(i){
                        case 0:
                            Results = new List<ISlotSymbol> { fakeResultRoller.CreateSymbol((SymbolTier)rand.Next(0, 5)), fakeResultRoller.CreateSymbol((SymbolTier)rand.Next(0, 5)), fakeResultRoller.CreateSymbol((SymbolTier)rand.Next(0, 5)) };
                            break;
                        case 1:
                            Results = new List<ISlotSymbol> { Results[0], fakeResultRoller.CreateSymbol((SymbolTier)rand.Next(0, 5)), fakeResultRoller.CreateSymbol((SymbolTier)rand.Next(0, 5)) };
                            break;
                        case 2:
                            Results = new List<ISlotSymbol> { Results[0], Results[1], fakeResultRoller.CreateSymbol((SymbolTier)rand.Next(0, 5)) };
                            break;
                    }
                    await Task.Delay(50);
                    await InvokeAsync(StateHasChanged);
                }
                Results[i] = fakeResultRoller.CreateSymbol(result.SlotSymbols[i]);
            }

            Balance += result.Payout;
            if (result.Payout > 150)
            {
                await hubConnection.SendAsync("BroadcastWin", Name, result.Payout);
            }
            if (result.Payout == 0)
            {
                Message = "YOU LOST!!";
            }
            else if (SlotType == SlotType.WinLose)
            {
                if (result.Payout == BetSize)
                {
                    Message = "You broke even!";
                }
                else if (result.Payout > 0)
                {
                    Message = $"WINNNEEEERRRR +{result.Payout}";
                }
                else if (result.Payout < 0)
                {
                    Message = $"Unlucky!!! You lost {result.Payout}";
                }
            }
            else
            {
                Message = $"WINNNEEEERRRR +{result.Payout}";
            }
            await InvokeAsync(StateHasChanged);
        });

        hubConnection.On<string>("WinBroadcasted", (result) =>
        {
            Messages.Insert(0, result);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
        Console.WriteLine("Connection established");
    }

    private async Task Play()
    {
        Message = "";
        if (hubConnection is not null)
        {
            Balance -= BetSize;
            await hubConnection.SendAsync("Play", Name, BetSize, IsPictureSymbols, SlotType);
        }
    }

    private async Task UseAlternativeSymbols()
    {
        IsPictureSymbols = !IsPictureSymbols;
        await InvokeAsync(StateHasChanged);
    }

    private async Task ChangeSlotType(SlotType type)
    {
        SlotType = type;
        await InvokeAsync(StateHasChanged);
    }

    private string StyleForSymbol(Symbols symbol)
    {
        switch (symbol)
        {
            case Symbols.Orange:
                return "background-color: #FFA500; width: 100px; height: 100px; margin: 10px;";
            case Symbols.Red:
                return "background-color: #FF0000; width: 100px; height: 100px; margin: 10px;";
            case Symbols.Blue:
                return "background-color: #0000FF; width: 100px; height: 100px; margin: 10px;";
            case Symbols.Green:
                return "background-color: #00FF00; width: 100px; height: 100px; margin: 10px;";
            case Symbols.Yellow:
                return "background-color: #FFFF00; width: 100px; height: 100px; margin: 10px;";
            default:
                return "background-color: #FFFFFF; width: 100px; height: 100px; margin: 10px;";
        }
    }

    private async Task ChangeSlotsStyle()
    {
        if (typeof(DefaultStyle) == _style.GetType())
        {
            _style = new RedStyle();
            SlotsMachineStyle = _style.CreateSlotsMachineStyle();
        }
        else if (typeof(RedStyle) == _style.GetType())
        {
            _style = new BlueStyle();
            SlotsMachineStyle = _style.CreateSlotsMachineStyle();
        }
        else if (typeof(BlueStyle) == _style.GetType())
        {
            _style = new DefaultStyle();
            SlotsMachineStyle = _style.CreateSlotsMachineStyle();
        }
        await InvokeAsync(StateHasChanged);
    }

    private string GetSlotPayout(SymbolTier tier, SlotType type)
    {
        if (type == SlotType.Simple)
        {
            switch (tier)
            {
                case SymbolTier.First:
                    return " - 5x";
                case SymbolTier.Second:
                    return " - 10x";
                case SymbolTier.Third:
                    return " - 40x";
                case SymbolTier.Fourth:
                    return " - 160x";
                case SymbolTier.Fifth:
                    return " - 1000x";
            }
        }
        else if (type == SlotType.Coinflip)
        {
            switch (tier)
            {
                case SymbolTier.First:
                    return " - 2x";
                case SymbolTier.Second:
                    return " - 0x";
                default:
                    return " ----------- ";
            }
        }
        else if (type == SlotType.WinLose)
        {
            switch (tier)
            {
                case SymbolTier.First:
                    return " - 5x";
                case SymbolTier.Second:
                    return " - 2x";
                case SymbolTier.Third:
                    return " - 1x";
                case SymbolTier.Fourth:
                    return " - -2x";
                case SymbolTier.Fifth:
                    return " - -5x";
            }
        }
        else if (type == SlotType.Jackpot)
        {
            switch (tier)
            {
                case SymbolTier.First:
                    return " - 10000x";
                default:
                    return " ----------- ";
            }
        }
        throw new ArgumentOutOfRangeException(nameof(type));
    }
}
